/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Arial, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #9BF;
  color: #333;
}

form {
  margin-bottom: 20px;
}

.clear {
  clear: both;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.block {
  display: block;
}

.tweet_week_count {
  display: block;
  position: absolute;
  margin-right: 15px;
  top: 0;
  right: 0;
  width: 200px;
  text-align: right;
}


#weeks_of_tweets {
  list-style: none;
  margin: 0;
  padding: 0;
}

#weeks_of_tweets > li {
  background-color: #DDD;
  min-height: 55px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #000;
  position: relative;
}

#weeks_of_tweets > li .toggle_parent {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 55px;
}

.indent {
  padding-left: 15px;
}

.tweet_list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
}

.tweet_list li {
  border-top: 1px dashed #EEE;
  padding: 1em;
  min-height: 50px;
}

.tweet_list li:hover {
  background-color: #FFCC00;
}


.vcard {
  width: 56px;
  display: inline;
  float: left;
}

.hentry {
  margin-left: 60px;
}

/* Pulled from index.html */
#page {
  background-color: #f0f0f0;
  width: 790px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

#content {
  float: left;
  background-color: white;
  border: 3px solid #aaa;
  border-top: none;
  padding: 0px 25px 25px 25px;
  width: 500px;
}

#sidebar {
  float: right;
  width: 215px;
}

#footer {
  float: left;
  width: 556px;
  margin: 3em 0;
  text-align: center;
}


#header, #about, #getting-started {
  padding-left: 75px;
  padding-right: 30px;
}


#header {
  background-image: url("/assets/rails.png");
  background-repeat: no-repeat;
  background-position: top left;
  height: 64px;
}
#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}


#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

#about-content {
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -55px;
  margin-right: -10px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}

#about-content ul {
  padding: 0;
  list-style-type: none;
}

#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}


#getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#getting-started h1 {
  margin: 0;
  font-size: 20px;
}
#getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
}
#getting-started ol {
  margin-left: 0;
  padding-left: 0;
}
#getting-started li {
  font-size: 18px;
  color: #888;
  margin-bottom: 25px;
}
#getting-started li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}
#getting-started li p {
  color: #555;
  font-size: 13px;
}


#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 10px;
}

.filename {
  font-style: italic;
}
